############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Node.js
/src/node_modules

# Sublime Edit
*.sublime*

# Episode images are not ready yet
/img/episodes

