h2 Where to Watch
div
  h3 On TV / Streaming
  ul
    li
      strong North America 
      | - New episodes air on 
      em The Hub 
      | on Saturdays when the show is running
    li
      strong North America 
      | - 
      a(href='http://movies.netflix.com/WiMovie/My_Little_Pony_Friendship_Is_Magic/70234440', class='hint--top', data-hint='Season 1, 2 and 3 available') Netflix
    li 
      strong Worldwide 
      | - YouTube - refer to guide for links to individual episodes

div
  h3 Download
  ul
    li
      strong North America, Europe, Australia 
      | - iTunes:
      span.volumes 
        a(href='https://itunes.apple.com/us/tv-season/my-little-pony-friendship/id575915802', class='hint--top', data-hint='Contains S1E01-13') Vol. 1
        | , 
        a(href='https://itunes.apple.com/us/tv-season/my-little-pony-friendship/id575916628', class='hint--top', data-hint='Contains S1E14-26') Vol. 2
        | , 
        a(href='https://itunes.apple.com/us/tv-season/my-little-pony-friendship/id575916785', class='hint--top', data-hint='Contains S2E01-13') Vol. 3
        | , 
        a(href='https://itunes.apple.com/us/tv-season/my-little-pony-friendship/id575917437', class='hint--top', data-hint='Contains S2E14-26') Vol. 4
        | , 
        a(href='https://itunes.apple.com/us/tv-season/my-little-pony-friendship/id575911918', class='hint--top', data-hint='Contains S3E01-13') Vol. 5
    li
      strong United States 
      | - 
      a(href='https://play.google.com/store/tv/show/My_Little_Pony_Friendship_is_Magic?id=0BJwM9q_nyI', class='hint--top', data-hint='Season 1 and 2 available') Google Play 
div
  h3 Physical
  ul 
    li
      strong Region 1 
      | - 
      a(href='http://www.amazon.com/gp/product/B0096W47NO/', class='hint--top', data-hint='4 disc with audio commentary for select episodes') Season 1 DVD from Shout!Factory 
    li
      strong Region 1 
      | - 
      a(href='http://www.amazon.com/dp/B00C0YUY4Q/') Season 2 DVD from Shout!Factory